<p>
    {{clientObj | json}}
</p>
<ul>
    @for (item of userList$ | async; track $index) {
        <li>{{item.username}}</li>
    }
</ul>
<app-alert [alertType]="'Success'" [message]="'Record created successfully'"></app-alert>
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List {{currentDate | date:'dd-MMM-yyyy'}}
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr #</th>
                            <th>Company Name</th>
                            <th>Person Name</th>
                            <th>Contact No</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of clientList; track $index) {
                        <tr>
                            <td>{{$index + 1}}</td>
                            <td>{{item.companyName | uppercase}}</td>
                            <td>{{item.contactPersonName}}</td>
                            <td>{{item.contactNo}}</td>
                            <td>{{item.city}}</td>
                            <td>
                                <button class="btn btn-primary pt-2" (click)="onEdit(item)">Edit</button>
                                <button class="btn btn-danger pt-2" (click)="onDelete(item.clientId)">Delete</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <form #form="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label for=""> Person Name</label>
                            <input type="text" #personName="ngModel" name="contactPersonName" minlength="5" required [(ngModel)]="clientObj.contactPersonName"
                                class="form-control">
                                @if(personName.touched){
                                    <div class="text-danger">
                                        @if(personName?.errors?.['required']){
                                            <span>This is required </span>
                                        }
                                        @if(personName?.errors?.['minlength']){
                                            <span>minimum 5 character are required </span>
                                        }
                                    </div>
                                }                        
                        </div>
                        <div class="col-6">
                            <label for="">Company Name</label>
                            <input type="text" [(ngModel)]="clientObj.companyName" name="companyName" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact No</label>
                            <input type="text" [(ngModel)]="clientObj.contactNo" name="contactNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">City</label>
                            <input type="text" [(ngModel)]="clientObj.city" name="city" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">State</label>
                            <input type="text" [(ngModel)]="clientObj.state" name="state" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Pincode</label>
                            <input type="text" [(ngModel)]="clientObj.pincode" name="pincode" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Address</label>
                            <textarea class="form-control" [(ngModel)]="clientObj.address" name="address"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">Employee Strength</label>
                            <input type="text" [(ngModel)]="clientObj.employeeStrength" name="employeeStrength" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">GST No</label>
                            <input type="text" [(ngModel)]="clientObj.gstNo" name="gstNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Registration No</label>
                            <input type="text" [(ngModel)]="clientObj.regNo" name="regNo" class="form-control">
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6">
                            <button class="btn btn-secondary text-center">Reset</button>
                        </div>
                        <div class="col-6">
                            <app-my-button (onBtnClicked)="onSaveClient()" [btnClass]="'btn btn-success text-center'" [btnText]="this.clientObj.clientId == 0 ? 'Save Client' : 'Update Client'"></app-my-button>>

                            <!-- this is the way we can get the value which is passed in mybutton component
                             and we have to make our onSaveClient method taking a input parameter  -->
                            <!-- <app-my-button (onBtnClicked)="onSaveClient($event)" [btnClass]="'btn btn-success text-center'" [btnText]="this.clientObj.clientId == 0 ? 'Save Client' : 'Update Client'"></app-my-button>> -->
                            <!-- <button class="btn btn-success text-center" [disabled]="!form.valid" (click)="onSaveClient()">
                                {{this.clientObj.clientId == 0 ? 'Save Client' : 'Update Client'}}</button> -->
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>